.menu03_sub02_mid_content_all{
    position: relative;
    clear: both;
    width: 100%;
    height: 3300px;
}
#culture_content_04 {
    position: relative;
    clear: both;
    width: 1200px;
    height: 1100px;
    margin: 0 auto;
    font-size: 14pt;
    padding-left: 40px;
}
#culture_content_05 {
    position: relative;
    clear: both;
    width: 1200px;
    height: 600px;
    margin: 0 auto;
    font-size: 14pt;
    padding-left: 40px;
}
#culture_content_06 {
    position: relative;
    clear: both;
    width: 1200px;
    height: 700px;
    margin: 0 auto;
    font-size: 14pt;
    padding-left: 40px;
}