.agreement_mid_content_all {
    position: relative;
    clear: both;
    width: 100%;
    height: 800px;
    margin: 0 auto;
    
    }
    /* 새로운 내용 제작 ---------------*/
.agreement_all {
    position: relative;
    clear: both;
    width: 1200px;
    height: 700px;
    margin: 0 auto;
    
}